<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoodFlix</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>


<body>
    <header class="navbar">
        <img src="static/MoodFlix_LOGO.png" alt="MoodFlix Logo" style="height: 70px; border-radius: 25px;">
        <nav class="nav-menu">
            <a href="/">About MoodFlix</a>
            <a href="/home_guest">Guest Home</a>
            <a href="/contact_us_guest">Contact Us</a>
        </nav>
    </header>
    <div class="container">
        <p>for any project related query ...</p>
        <h1>Meet Our Contributors</h1>
        <p>Here are the amazing contributors who have helped build this project.</p>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td>Dhruv Mishra</td>
                <td>b23cs1090@iitj.ac.in</td>
            </tr>
            <tr>
                <td>Shreekar</td>
                <td>b23cs1069@iitj.ac.in</td>
            </tr>
            <tr>
                <td>Tavishi Srivatava</td>
                <td>b23cs1101@iitj.ac.in</td>
            </tr>
            <tr>
                <td>Ripu Dhaman Singh</td>
                <td>b23cs1057@iitj.ac.in</td>
            </tr>
            <tr>
                <td>Ekta Saini</td>
                <td>b23cs1018@iitj.ac.in</td>
            </tr>
            <tr>
                <td>Sanyam Kabra</td>
                <td>b23cs1063@iitj.ac.in</td>
            </tr>

        </table>
    </div>
</body>
</html>
