<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="static/style.css">
<title>Movies</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Movies</h1>
		</div>
		<input type="text" class="search-bar" placeholder="Search for movies...">
		<div class="button-container">
			<button class="button" onclick="window.location.href='prompt_input'">Write Your Thoughts</button>
			<button class="button" onclick="window.location.href='form_input'">No Ideas, Need Some Questions</button>
		</div>
		<div class="table-container">
			<h2>Previously Recommended Movies</h2>
			<table>
				<tr>
					<th>Movie Title</th>
				</tr>
				<tr>
					<td>The Shawshank Redemption</td>
				</tr>
				<tr>
					<td>The Godfather</td>
				</tr>
				<tr>
					<td>The Dark Knight</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>