<!DOCTYPE html>

<script>
	window.alert("Welcome to Emotion2Movies! You are logged in as {{user.id}}.");
</script>
<html>
<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

	<title>Movies</title>
</head>
<body>
	<style>
		.user-info {
			position: absolute;
			top: 10px;
			right: 10px;
			background-color: #f0f0f0;
			padding: 10px;
			border: 1px solid #ddd;
			border-radius: 5px;
		}
		.logout-btn {
			background-color: #337ab7;
			color: #fff;
			border: none;
			padding: 5px 10px;
			font-size: 12px;
			cursor: pointer;
		}
	
		.logout-btn:hover {
			background-color: #23527c;
	</style>
	
	<div class="user-info">
		<p>Username: <span id="username">{{user.id}}</span></p>
		<p>Email: <span id="email">{{user.email}}</span></p>
		<button class="logout-btn" onclick="window.location.href='logout'">Logout</button>
	</div>
	<div class="container">
		<div class="header">
			<h1>Recommand Movies</h1>
		</div>
		<input type="text" class="search-bar" placeholder="Search for movies...">
		<div class="button-container">
			<button class="button" onclick="window.location.href='prompt_input'">Write Your Thoughts</button>
			<button class="button" onclick="window.location.href='form_input'">No Ideas, Need Some Questions</button>
		</div>
		<div class="table-container">
			<h2>Hi {{user.id}}, here is your wishlist of movies!</h2>
			<table>
				<tr>
					<th>Movie Title</th>
				</tr>
				{% for movie in user.wishlist %}
				<tr>
					<td>{{movie}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>