<!DOCTYPE html>
<html>
<head>
	<title>Movie Name Generator</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Movie Name Generator</h1>
		</div>
		<div class="form">
			<form action="/prompt_generate" method="POST">
				<div class="form-group">
					<label for="prompt">Enter a string prompt to generate a movie name:</label>
					<input type="text" id="prompt" name="prompt" placeholder="e.g. 'space adventure' or 'romantic comedy'" required="required">
				</div>
				<button class="button" type="submit">Generate Movies</button>
			</form>
		</div>

	</div>
</body>
</html>