<!DOCTYPE html>
<html>
<head>
	<title>Movie List</title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Movie List</h1>
		</div>
		<div class="table-container">
			<table>
				<tr>
					<th>Movie Name</th>
					<th>YouTube trailer URL</th>
				</tr>
				{% for movie, trailer in movies_urls %}
				<tr>
					<td>{{ movie }}</td>
					<td><a href="{{ trailer }}">Search on YouTube</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</body>
</html>